<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdn.socket.io/4.7.5/socket.io.min.js"
      integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
      crossorigin="anonymous"
    ></script>
    <script>
      let socket;
      let chatArea;
      let chatMessageBox;
      let currentRoom;
      let roomSelection;

      document.addEventListener("DOMContentLoaded", function () {
        roomSelection = document.getElementById("roomSelection");
        chatArea = document.getElementById("chatArea");
        chatMessageBox = document.getElementById("chatMessageBox");
        chatMessageBox.addEventListener("keypress", function (event) {
          if (event.key === "Enter") {
            event.preventDefault();
            sendMessage();
          }
        });

        socket = io({
          transports: ["websocket"],
        });

        currentRoom = "RoomA";
        roomSelection.value = currentRoom;
        socket.emit("join_room", { room: currentRoom });

        socket.on("connect", function () {
          console.log("Connected to the server!");
        });

        socket.on("disconnect", function () {
          console.log("Disconnected from the server!");
        });

        socket.on("connect_error", function (error) {
          console.log("Connection Failed!");
        });

        socket.on("reply", function (data) {
          const newMsgEle = makeItem(data.sid, data.message);
          chatArea.appendChild(newMsgEle);
          console.log(`received: ${JSON.stringify(data)}`);
        });

        socket.on("room_user_count", function (data) {
          const roomOption = document.querySelector(
            `#roomSelection option[value='${data.room}']`
          );
          roomOption.textContent = `${data.room} (${data.count}/2)`;
        });

        socket.on("join_error", function (data) {
          alert(data.message);
        });

        socket.on("error", function (data) {
          alert("Error: " + data.message); // 오류 메시지를 알림으로 표시
        });
      });

      window.addEventListener("beforeunload", function () {
        if (socket && socket.connected) {
          socket.disconnect();
        }
      });

      function switchRoom() {
        let selectedRoom = roomSelection.value;
        if (socket && socket.connected) {
          socket.emit("leave_room", { room: currentRoom });
          socket.emit("join_room", { room: selectedRoom });
          currentRoom = selectedRoom;
          console.log(`Switched to room: ${selectedRoom}`);
          chatArea.innerHTML = "";
        }
      }

      function sendMessage() {
        var msg = chatMessageBox.value;
        chatMessageBox.value = "";
        socket.emit("send_message", { message: msg, room: currentRoom });
      }

      function makeItem(id, content) {
        const item = document.createElement("div");

        if (socket.id === id) {
          item.className = "flex items-end justify-end";
          item.innerHTML = `<div class="text-right mr-2">
                              <div class="text-xs text-gray-600">${id}</div>
                            </div>
                            <div class="bg-blue-500 text-white text-sm p-2 rounded-lg max-w-xs">
                              ${content}
                            </div>`;
        } else {
          item.className = "flex items-end justify-start";
          item.innerHTML = `<div class="bg-gray-300 text-sm p-2 rounded-lg max-w-xs">
                              ${content}
                            </div>
                            <div class="text-left ml-2">
                              <div class="text-xs text-gray-600">${id}</div>
                            </div>`;
        }

        return item;
      }
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />

    <style type="text/css">
      * {
        font-family: "Jua", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    </style>

    <title>Gikhub</title>
  </head>
  <body>
    <div
      class="flex flex-col items-center justify-center min-h-screen bg-gray-100 p-4"
    >
      <div class="bg-white shadow rounded-lg p-6 w-full max-w-md">
        <!-- 방 선택 드롭다운 -->
        <div class="mb-4">
          <select
            id="roomSelection"
            class="border p-2 rounded-lg"
            onchange="switchRoom()"
          >
            <option value="RoomA">Room A (0/2)</option>
            <option value="RoomB">Room B (0/2)</option>
            <option value="RoomC">Room C (0/2)</option>
          </select>
        </div>
        <!-- 채팅방 제목 -->
        <div class="text-2xl font-semibold mb-4">전체 채팅방 테스트</div>
        <!-- 채팅 메시지 영역 -->
        <div id="chatArea" class="overflow-y-auto h-64 mb-4 p-2 space-y-2">
          <!-- 여러 채팅 메시지 -->
        </div>
        <!-- 메시지 입력 -->
        <div class="flex space-x-2">
          <input
            id="chatMessageBox"
            type="text"
            class="flex-1 p-2 border rounded-lg"
            placeholder="메시지 입력..."
          />
          <button
            id="chatSendButton"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            onclick="sendMessage()"
          >
            전송
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
