<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdn.socket.io/4.7.5/socket.io.min.js"
      integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
      crossorigin="anonymous"
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {});
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />

    <style type="text/css">
      * {
        font-family: "Jua", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    </style>

    <title>Gikhub</title>
  </head>
  <body class="bg-gray-100">
    <!-- Back Button -->
    <div class="container mx-auto px-4 py-2">
      <button
        onclick="history.back()"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Go Back
      </button>
    </div>

    <div class="container mx-auto px-4 py-3">
      <div class="bg-white shadow overflow-hidden sm:rounded-md">
        <ul>
          <li>
            <a
              href="#"
              class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out"
            >
              <div class="px-4 py-4 flex items-center sm:px-6">
                <div
                  class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between"
                >
                  <div>
                    <div
                      class="text-sm leading-5 font-medium text-indigo-600 truncate"
                    >
                      Room Name #1
                    </div>
                    <div class="mt-2 sm:flex">
                      <div class="sm:flex">
                        <div class="text-sm leading-5 text-gray-500">
                          Last message preview here...
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <!-- Repeat for more chat rooms -->
        </ul>
      </div>
    </div>
  </body>
</html>
