<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdn.socket.io/4.7.5/socket.io.min.js"
      integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
      crossorigin="anonymous"
    ></script>
    <script>
      let socket;
      let chatArea;
      let chatMessageBox;
      let currentRoom;
      let myUserId;

      function base64UrlDecode(str) {
        // Base64 URL-safe 문자열을 Base64로 변환
        let base64 = str.replace(/-/g, "+").replace(/_/g, "/");
        // 패딩 추가
        const padLength = 4 - (base64.length % 4);
        if (padLength < 4) {
          base64 += "=".repeat(padLength);
        }
        // Base64 문자열을 디코드
        return atob(base64);
      }

      function decodeJWT(token) {
        // 토큰을 '.'을 기준으로 세 부분으로 나눕니다.
        const parts = token.split(".");
        if (parts.length !== 3) {
          throw new Error("Invalid JWT: The token must have three parts");
        }

        // 헤더와 페이로드를 디코드
        const header = JSON.parse(base64UrlDecode(parts[0]));
        const payload = JSON.parse(base64UrlDecode(parts[1]));

        return { header, payload };
      }

      function getNickFromUserId(id, participants) {
        for (let i = 0; i < participants.length; i++) {
          if (participants[i]._id === id) {
            return participants[i].nick;
          }
        }
      }

      function showItems() {
        chatArea.innerHTML = "";

        const fragment = document.createDocumentFragment();
        fetch("/api/chat/messages?room={{ room_id }}", {
          method: "GET",
          headers: {
            Authorization: `Bearer ${localStorage.getItem("access_token")}`,
          },
        })
          .then((res) => {
            if (!res.ok) {
              throw new Error("서버 오류!");
            }
            return res.json();
          })
          .then((data) => {
            for (let i = 0; i < data.messages.length; i++) {
              const messageElement = makeItem(
                data.messages[i].userId,
                data.messages[i].message,
                getNickFromUserId(data.messages[i].userId, data.participants)
              );
              fragment.appendChild(messageElement);
            }
            chatArea.appendChild(fragment);
            scrollToBottom();
          });
      }

      document.addEventListener("DOMContentLoaded", function () {
        const { payload } = decodeJWT(localStorage.getItem("access_token"));
        myUserId = payload.sub;

        chatArea = document.getElementById("chatArea");
        chatMessageBox = document.getElementById("chatMessageBox");
        chatMessageBox.addEventListener("keypress", function (event) {
          if (event.key === "Enter") {
            event.preventDefault();
            sendMessage();
          }
        });

        showItems();

        socket = io({
          // transports: ["websocket"],
          extraHeaders: {
            authorization: `Bearer ${localStorage.getItem("access_token")}`,
          },
        });

        currentRoom = "{{ room_id }}";
        socket.emit("join_room", { room: currentRoom });

        socket.on("connect", function () {
          console.log("Connected to the server!");
        });

        socket.on("disconnect", function () {
          console.log("Disconnected from the server!");
        });

        socket.on("connect_error", function (error) {
          console.log("Connection Failed!");
        });

        socket.on("reply", function (data) {
          const newMsgEle = makeItem(data.userId, data.message, data.nick);
          chatArea.appendChild(newMsgEle);
          console.log(`received: ${JSON.stringify(data)}`);
          scrollToBottom();
        });

        socket.on("join_error", function (data) {
          alert(data.message);
        });

        socket.on("error", function (data) {
          alert("Error: " + data.message);
        });
      });

      window.addEventListener("beforeunload", function () {
        if (socket && socket.connected) {
          socket.disconnect();
        }
      });

      function sendMessage() {
        var msg = chatMessageBox.value;
        chatMessageBox.value = "";
        socket.emit("send_message", { message: msg, room: currentRoom });
      }

      function makeItem(id, content, nick) {
        const item = document.createElement("div");

        if (myUserId === id) {
          item.className = "flex items-end justify-end";
          item.innerHTML = `<div class="text-right mr-2">
                                  <div class="text-xs text-gray-600">${nick}</div>
                                </div>
                                <div class="bg-blue-500 text-white text-sm p-2 rounded-lg max-w-xs">
                                  ${content}
                                </div>`;
        } else {
          item.className = "flex items-end justify-start";
          item.innerHTML = `<div class="bg-gray-300 text-sm p-2 rounded-lg max-w-xs">
                                  ${content}
                                </div>
                                <div class="text-left ml-2">
                                  <div class="text-xs text-gray-600">${nick}</div>
                                </div>`;
        }

        return item;
      }

      function scrollToBottom() {
        chatArea.scrollTop = chatArea.scrollHeight;
      }
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />

    <style type="text/css">
      * {
        font-family: "Jua", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    </style>

    <title>Gikhub</title>
  </head>
  <body>
    <div
      class="flex flex-col items-center justify-center min-h-screen bg-gray-100 p-4"
    >
      <!-- 뒤로 가기 버튼 -->
      <div class="w-full max-w-md mb-4">
        <button
          onclick="history.back()"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Go Back
        </button>
      </div>
      <div class="bg-white shadow rounded-lg p-6 w-full max-w-md">
        <!-- 채팅방 제목 -->
        <div class="text-2xl font-semibold mb-4">{{ title }}</div>
        <!-- 채팅 메시지 영역 -->
        <div id="chatArea" class="overflow-y-auto h-64 mb-4 p-2 space-y-2">
          <!-- 여러 채팅 메시지 -->
        </div>
        <!-- 메시지 입력 -->
        <div class="flex space-x-2">
          <input
            id="chatMessageBox"
            type="text"
            class="flex-1 p-2 border rounded-lg"
            placeholder="메시지 입력..."
          />
          <button
            id="chatSendButton"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            onclick="sendMessage()"
          >
            전송
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
