{% extends "base.html" %} {% block title %}메인 페이지 - 긱허브{% endblock %}
{%block content %}

<div id="request-list" class="bg-white p-4 shadow rounded-lg">
  <!-- 물품 요청 글을 여기에 동적으로 추가합니다. -->
  <h2 class="text-2xl font-bold mb-4">물품 요청 글</h2>
  <ul>
    {% for item in items %}
    <div
      class="border-b border-gray-200 py-4 cursor-pointer"
      onclick="window.location.href='{{ url_for('detail_board', item_id=item['_id']) }}'"
    >
      <div class="flex justify-between items-center mb-2">
        <span class="text-sm {% if item['status'] == '진행중' %}text-green-500{% elif item['status'] == '완료' %}text-red-500{% else %}text-gray-500{% endif %}"">{{ item['status'] }}</span>
        <span class="text-sm text-gray-500">작성자: {{ item['user_id'] }}</span>
      </div>
      <h2 class="text-xl font-bold mb-2">{{ item['title'] }}</h2>
    </div>
    {% endfor %}
  </ul>
  <!-- 추가적인 물품 요청 글들이 여기에 들어갑니다. -->
</div>

<!-- Pagination Section -->
<div id="pagination" class="flex justify-center my-4">
  <!-- 페이지네이션 버튼을 여기에 동적으로 추가합니다. -->
  <button class="mx-1 px-3 py-1 bg-blue-500 text-white rounded">1</button>
  <button class="mx-1 px-3 py-1 bg-blue-500 text-white rounded">2</button>
  <button class="mx-1 px-3 py-1 bg-blue-500 text-white rounded">3</button>
</div>

<div id="createButton" class="flex flex-row-reverse my-4">
  <button
    class="mx-1 px-3 py-1 bg-blue-500 text-white rounded"
    onclick="location.href='{{ url_for('render_create_board') }}'"
  >
    생성
  </button>
</div>
{% endblock %}
